.image-container {
  background-image: ("https://www.pexels.com/photo/close-up-photo-of-moisture-2763927/");
  background-size: cover;
}

.weatherApp{
  margin:30px auto;
  padding: 10px;
  border: 3px solid #191970;
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
  border-radius: 15px;
  max-width: 800px;
  max-height: 900px;
  opacity: 0.9;
}

li {
  list-style: none;
}

.github{
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 350px;
}

.current-city {
  position: relative;
  left: 30px;
  top: 20px;
}

.cloud-icon {
  font-size: 130px;
  color: #49a3ac;
  opacity: 50%;
}


.searchbar {
  position: relative;
  left: 435px;
  bottom: 430px;
}

.search-button {
  background: #191970;
  color: #f1f3f4;
  border-radius: 10px;
  padding: 5px 16px 5px 16px;
  font-family: "Kanit", sans-serif;
}

  
.day {
  position: relative;
  left: 100px;
  color: #7c7caa;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

.temperature {
  position: relative;
  left: 110px;
  color: #36454F;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

.weather-temperature .active{
  color: #36454F;
  text-decoration: none;
}

.weather-temperature .active:hover{
color: #36454F;
text-decoration: none;
cursor: default;
}

h1,
h2 {
  color: #333366;
  font-family: "Kanit", sans-serif;
}

h1 {
  font-weight: 500px;
}

h2 {
  font-weight: 200px;
}

h3 {
  color: #36454F;
  font-family: "Kanit", sans-serif;
  font-weight: 300px;
}

h4 {
  color: #36454F;
  font-family: "Kanit", sans-serif;
  font-weight: 300px;
}

p {
  color: #36454F;
  font-family: "Kanit", sans-serif;
  font-weight: 300px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #36454F;
  font-family: "Kanit", sans-serif;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  font-family: "Kanit", sans-serif;
}

.weather-forecast-temperatures {
  font-size: 13px;
  font-family: "Kanit", sans-serif;
}

